@charset "utf-8";

.scrollbox{width:893px; float: right; background-image: url("../../images/bgnotice01.png?1405905823");}
#scrollDiv{width:730px;height:45px; overflow:hidden; float: left;}/*这里的高度和超出隐藏是必须的*/
#scrollDiv li{height:45px;line-height:45px; vertical-align:bottom; zoom:1; padding-left: 18px;}
#scrollDiv li a{ color:#fff; text-decoration:none;}
#scrollDiv li a:hover{ color:#fff;}

.scroltit{ height:45px; line-height:45px; float: right; width: 163px;}
.scroltit h3{ width:100px; float:left;}
.scroltit small{float:right; font-size:13px;}
#but_down,#but_up {
	float: right;
	width: 45px;
	height: 45px;
	display: block;
}
#but_down {
	background: url(../../images/btndowm.png);
}
#but_up {
	background: url(../../images/btnup.png);
}