@charset "utf-8";
body {
	font: 12px/24px "宋体", verdana;
	color: #666666;
	background: #f3f3f3;
}
a:link,a:visited {
	color: #666666;
}
a:hover,a:active {
	color: #0d3973;
}
.menu_open,.slidesjs-pagination li a,#slides dl dt i,.news-list i,.reset_input i,#menu ul li a i,#footer a,.menu_home, .list_loading i {
	background-image: image-url('iconbg.png');
	-webkit-background-size: 200px 200px;
	background-size: 200px 200px;
}