@charset "utf-8";

$color1: #FFF; //white
$color2: #1b4a7d;
$filter: false;
$font1: "微软雅黑", "Microsoft YaHei", "宋体", "SimSun", "黑体", "SimHei";// microsoft yahei
$font2: "黑体";
$height: icons-sprite-height(btnsearch);
$width: icons-sprite-width(btnsearch);
$icons-layout: smart;
$icons-spacing: 4px;
$w1000: 1000px;